--- 
title: Home

---

- sorted_articles.each do |article|
  %article
    %h3
      %a{:href => path_for(article)}= article[:title]
    .metadata
      - if article[:tags] && article[:tags].split(",").include?(' photo')
        %span= "[pic]"
      %span= format_date(article)
